.show_dialog_vs {
  display: none;
  position: absolute;
  top: 0px;
  height: 105vh;
  width: 100%;
  background-color: var(--mainColor);
  z-index: 2001;
  margin: 0 auto;
}

.dialogVs {
  display: flex;
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 4;
}

.cardVs {
  display: block;
  width: 100%;
  position: relative;
  background-color: white;
  width: var(--widthCard);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.6);
  z-index: 1;
}

#closeVsMode {
  position: absolute;
  top: -55px;
  left: 15px;
  cursor: pointer;
}

/* Informacoes iniciais */

.vsMode_header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    -200deg,
    rgba(128, 240, 129, 0.9) 0%,
    rgba(193, 203, 251, 0.9) 0%
  );
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

#vsMode_background {
  position: absolute;
  background-image: url('../img/pokeballPattern_opacity.png');
  background-size: contain;
  z-index: 3;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

#vs_label {
  width: 40px;
}

.slot_card_template {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 10px;
  width: 450px;
  margin: 10px 0px;
  z-index: 4;
}

.imgHeightVS {
  width: 100%;
  height: 170px;
  /* background: yellow; */
}

#foto_slot1 {
  position: absolute;
  max-height: 220px;
  top: -30px;
  left: 27%;
  z-index: 2;
}

#foto_slot2 {
  position: absolute;
  max-height: 220px;
  top: -30px;
  right: 27%;
  z-index: 2;
}

#type_slot1 {
  margin-bottom: 5px;
}

#type_slot2 {
  margin-bottom: 5px;
}

#type_slot1 > span {
  border-radius: 5px;
  padding: 5px;
}

#type_slot2 > span {
  border-radius: 5px;
  padding: 5px;
}

#type_slot1 > span:nth-child(1) {
  margin-right: 8px;
}

#type_slot2 > span:nth-child(1) {
  margin-right: 8px;
}

#vs_label {
  width: 100px;
}

.vsModeImg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/vsBlack.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100px;
  height: 80px;
}

#scoreSlot1 {
  position: absolute;
  top: 0;
  left: -65px;
  font-size: 4rem;
  font-weight: 600;
  color: black;
}

#scoreSlot2 {
  position: absolute;
  top: 0;
  right: -65px;
  font-size: 4rem;
  font-weight: 600;
  color: black;
}

/* Status */

.vsMode_stats {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 25px 0px;
  width: 100%;
  text-align: left;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-top: none;
}

.flexStats {
  display: block;
  width: calc(50% - 60px);
}

.flexStats > span {
  font-size: 0.9rem;
  margin-left: 60px;
}

.color_slot1,
.color_slot2 {
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

.color_slot1 {
  margin-top: 10px;
}

.color_slot1 > strong {
  width: 60px;
}

.color_slot2 > #transparent_label {
  width: 60px;
  color: transparent !important;
}

.color_slot1 > progress {
  display: block;
  position: relative;
  height: 15px;
  width: 70%;
  margin-right: 10px;
  -webkit-appearance: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}

.color_slot1 > progress::-webkit-progress-value {
  background: var(--slot1) !important;
}

.color_slot1 > progress::-webkit-progress-bar {
  background: rgba(0, 0, 0, 0.1);
}

.color_slot1 > progress:hover::-webkit-progress-value {
  -webkit-filter: brightness(100%);
}

.color_slot1 > progress:hover::before {
  content: '';
}

.color_slot2 > progress {
  display: block;
  position: relative;
  height: 15px;
  width: 70%;
  margin-right: 10px;
  -webkit-appearance: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}

.color_slot2 > progress::-webkit-progress-value {
  background: var(--slot2) !important;
}

.color_slot2 > progress::-webkit-progress-bar {
  background: rgba(0, 0, 0, 0.1);
}

.color_slot2 > progress:hover::-webkit-progress-value {
  -webkit-filter: brightness(100%);
}

.color_slot2 > progress:hover::before {
  content: '';
}
