.show_dialog_info {
  display: none;
  position: absolute;
  top: 30px;
  height: 105vh;
  width: 100%;
  background-color: var(--mainColor);
  z-index: 2001;
  margin: 0 auto;
  animation: fadeIn 0.3s;
}

.dialogPokeInfo {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  top: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 4;
}

.card {
  display: block;
  position: relative;
  text-align: center;
  background-color: white;
  width: var(--widthCard);
  padding: 30px;
  /* margin: 220px 30px 70px 30px; */
  border-radius: 10px;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.card:after {
  content: '';
  display: block;
  position: absolute;
  text-align: center;
  top: 30px;
  left: 30px;
  width: calc(100% - 61px);
  height: calc(100% - 60px);
  bottom: 0;
  right: 0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.compareButton {
  position: absolute;
  top: -55px;
  left: 105px;
  cursor: pointer;
}

.closeButton {
  position: absolute;
  top: -55px;
  left: 15px;
  cursor: pointer;
}

.fundo_info {
  position: absolute;
  background-image: url('../img/pokeballPattern_opacity.png');
  background-size: contain;
  background-color: var(--pokeColor);
  opacity: 0.6;
  width: calc(100% - 60px);
  height: 220px;
  z-index: -1;
  top: 30px;
  left: 30px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.pokeImageCard {
  position: absolute;
  top: -120px;
  right: 40px;
  width: 350px;
  z-index: 200;
}

.type {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(100% - 350px);
  padding-left: 40px;
  margin-top: 30px;
}

.type > span > span {
  font-weight: 600;
  font-size: 1.2rem;
  background-color: var(--pokeColor);
  padding: 8px;
  border-radius: 10px;
  margin-left: 20px;
}

.features {
  display: flex;
  justify-content: space-between;
  /* padding: 20px 0px 10px 0px; */
  width: calc(100% - 350px);
  min-height: 125px;
  margin-top: 20px;
}

.features > span {
  color: var(--pokeColor);
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0px 5px 0px 5px;
  line-height: 1.7rem;
  width: 25%;
}

.features > span > p {
  color: black;
  line-height: 1.3rem;
}

.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: justify;
  color: #333;
  font-size: 1.2rem;
  min-height: 130px;
  padding: 0px 10px;
}

.stats {
  margin-top: 80px;
  margin-bottom: 10px;
}

.stats-graph {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

progress {
  display: block;
  position: relative;
  height: 55px;
  width: 16%;
  -webkit-appearance: none;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
}

.progress-star::after {
  display: block;
  content: '';
  position: absolute;
  left: 95%;
  bottom: -30px;
  width: 20px;
  height: 20px;
  background-image: url('../img/top.svg');
  background-size: contain;
  background-repeat: no-repeat;
  animation: movement 2s ease-in-out infinite;
}

@keyframes movement {
  0% {
    transform: translateX(0px) rotate(90deg);
  }
  50% {
    transform: translateX(-3px) rotate(90deg);
  }
  100% {
    transform: translateX(0px) rotate(90deg);
  }
}

progress::-webkit-progress-value {
  background: var(--pokeColor);
}

progress::-webkit-progress-bar {
  background: rgba(0, 0, 0, 0.03);
}

.stats-label {
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
}

.stats-label > span {
  width: 16%;
  text-align: center;
}

@keyframes flyingPoke {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-5px) translateY(-3px);
  }
  100% {
    transform: translateX(0px);
  }
}
