.loading {
  position: relative;
  width: 180px;
  height: 180px;
  z-index: 3002;
  background-image: url('../img/pokeball.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: loading 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
