.content > .maxContent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 35px;
  margin: 50px 0;
  padding: 0 20px;
}

.maxContent > .miniCardPoke {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  transition: all ease-in-out 0.3s;
  z-index: 9;
}

.miniCardPoke > .outlinedEffect {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 95%;
  height: 95%;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
}

.miniCardPoke > .fastAddVsMode {
  position: absolute;
  top: 13px;
  right: 13px;
  height: 23px;
  width: 23px;
  background-image: url('../img/vsBlack.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 10;
  opacity: 0.3;
}

.fastAddVsMode:hover {
  background-image: url('../img/vsWhite.png');
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 1));
  opacity: 1;
  transition: all ease-in-out 0.3s;
}

.fastAddVsMode:hover::after {
  content: 'Add VSMode';
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 600;
  background-color: rgba(256, 256, 256, 1);
  width: 100px;
  height: 30px;
  top: 30px;
  left: -40px;
  border-radius: 5px;
  animation: fadeIn 0.3s;
}

.fastAddVsMode:not(:hover) {
  transition: all ease-in-out 0.3s;
}

.miniCardPoke > .backgroundType {
  position: absolute;
  top: 12px;
  left: 30px;
  width: 80%;
  height: 80%;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.12;
}

.miniCardPoke:hover {
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.35);
  animation: cardMovement 0.3s ease-in-out;
  transform: translateY(-10px);
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

@keyframes cardMovement {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.miniCardPoke > .miniImgCard {
  position: relative;
  height: 225px;
  width: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.miniImgCard > .img-miniImg {
  width: 205px;
  height: 205px;
  background-size: contain;
  background-position: center;
  background-position-y: 10px;
  background-repeat: no-repeat;
  z-index: 1;
}

.miniImgCard > h3 {
  position: absolute;
  top: 10px;
  left: 10px;
}

.miniCardPoke > .infoPokeMiniCard {
  padding-top: 0px;
  height: 58px;
  width: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.infoPokeMiniCard > h2 {
  font-size: 1.2rem;
  margin-bottom: 6px;
}

.infoPokeMiniCard > div > span {
  font-size: 0.95rem;
  margin-right: 8px;
  padding: 5px;
  border-radius: 5px;
}

.addWhiteColor {
  color: white !important;
}
