/*Importando CSS*/
@import url('./loading.css');
@import url('./header.css');
@import url('./search.css');
@import url('./miniCards.css');
@import url('./dialogInfo.css');
@import url('./dialogVsMode.css');
@import url('./compareFooter.css');
@import url('./responsividade.css');

/*Importando fonte*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Css principais */
body,
h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

:root {
  --mainColor: rgba(23, 26, 51, 0.95);
  --slot1: gray;
  --slot2: lightgrey;
  --widthCard: 1000px;
  --statsText: 'Status';
}

* {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--mainColor);
  background-image: url('../img/pokeballPattern_opacity.png');
  overflow-x: hidden;
  color: #2e2e2e;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1800px;
}

button {
  padding: 10px;
  font-size: 1.1rem;
  border: solid 1px var(--mainColor);
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: lightgray;
}

button:active {
  transform: translateY(2px);
}
